.centrar {

    text-align: center;
}

.logo_menu{

    width: 50px;
    height: 50px;
}

.imagen_catalogo{

    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    max-width: 100%;
}

.derechazo {
    float: right;
}

.izquierdazo {
    float: left;
}

.footer {

   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   #text-align: center;
}