{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Inicio{% endblock title%}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--icono pagina-->

<link rel="shortcut icon" type="image/png" href="{% static 'img/detocrislogo.jpeg' %}"/>
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!--Links de bootstrap jquery y css-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>




</head>
<body  class="bg-dark">

<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container bg-light">
    <a class="navbar-brand" href="{% url 'hogar' %}">
        <img src="{% static 'img/detocrislogo.jpeg' %}"  class="d-inline-block align-top logo_menu" alt="logo_detocris" >
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">


      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'hogar' %}">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catalogo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'catalogoPefumes' %}">Perfumes</a></li>
                <li><hr class="dropdown-divider"></li>

            <li><a class="dropdown-item" href="{% url 'catalogoDecoracion' %}">Deco Hogar</a></li>
                <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'catalogoDormitorio' %}">Dormitorio</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'faq' %}" tabindex="-1">FAQ</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar productos" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>





<!--FIN MENU-->

{% block carruselPrincipal %}


<div class="container col-lg-6 bg-transparent ">

<div id="carrusel" class="carousel slide" data-bs-ride="carrusel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static "img/car3.jpeg" %}" class="d-block w-100" alt="cobertor">
    </div>
    <div class="carousel-item">
      <img src="{% static "img/car2.jpeg" %}" class="d-block w-100" alt="frazada">
    </div>
    <div class="carousel-item">
      <img src="{% static "img/car1.jpeg" %}" class="d-block w-100" alt="awa">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carrusel"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carrusel"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


{% endblock  %}
{% block catalogo %}


{% endblock  %}



</body>
</html>