{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Inicio{% endblock title%}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--icono pagina-->
<link rel="shortcut icon" type="image/png" href="{% static 'img/icon.jpg' %}"/>
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

<ul class="nav nav-tabs container-lg ">
   <li>
    <a class="navbar-brand" href="#">
    <img src="{% static 'img/icon.jpg' %}" width="50" height="50" class="d-inline-block align-top" alt="">

  </a>
  </li>

  <li class="nav-item">
    <a class="nav-link " href="#">INICIO</a>
  </li>


    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">TIENDA
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Perfumes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Deco Hogar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Dormitorio</a>
            <div class="dropdown-divider"></div>
        </div>
        <li class="nav-item">
    <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
  </li>


</ul>

<!--FIN MENU-->
<br>

</body>
</html>