{% extends 'base.html' %}
{% load static %}
{% block title %}Detocris Tienda{% endblock title%}


{% block carruselPrincipal %}

    <hr>
        <div class="container bg-light centrar">
          <h1 class="jumbotron-heading">Detocris</h1>
          <p class="lead text-muted">Somos Detocris, una PYME dedicada a la venta de Perfumes , Decoraciones para el hogar y Ropa de cama.</p>
          <p>

            <div class="row ">

                <div class="col-sm-12 col-md-4  ">
                 <div class="card centrar" >
                <img src="{% static 'img/car1.jpeg' %}" class="card-img-top" alt="Perfume">
                <div class="card-body">
                 <h5 class="card-title">CATALOGO DE PERFUMES</h5>
                  <p class="card-text">Tenemos disponible un catalogo de perfumes para que lo revises &#128071</p>
                 <a href="{% url 'catalogoPerfumes' %}" class="btn btn-primary">Revisa aqui </a>
                        </div>
                        </div>

                </div>

                <div class="col-sm-12 col-md-4 ">
                 <div class="card centrar" >
                <img src="{% static 'img/car1.jpeg' %}" class="card-img-top" alt="Perfume">
                <div class="card-body">
                 <h5 class="card-title">CATALOGO DE DECORACION</h5>
                  <p class="card-text">Tenemos disponible un catalogo de decoraciones para que lo revises &#128071</p>
                 <a href="{% url 'catalogoDecoracion' %}" class="btn btn-primary">Revisa aqui</a>
                        </div>
                        </div>

                </div>

            <div class="col-sm-12 col-md-4 ">
                 <div class="card centrar" >
                <img src="{% static 'img/car1.jpeg' %}" class="card-img-top" alt="Perfume">
                <div class="card-body">
                 <h5 class="card-title">CATALOGO DE ROPA DE CAMA</h5>
                  <p class="card-text">Tenemos disponible un catalogo de Ropa de cama para que lo revises &#128071</p>
                 <a href="{% url 'catalogoDormitorio' %}" class="btn btn-primary">Revisa aqui</a>
                </div>
                 </div>

                </div>


            </div>





            <a href="" class="btn btn-primary my-2"></a>
            <a href="" class="btn btn-secondary my-2"></a>
          </p>
        </div>


{% endblock carruselPrincipal %}




