{% extends 'base.html' %}
{% load static %}

{% block title %}Catalogo Perfumes{% endblock title%}

{% block carruselPrincipal %}

{% endblock  %}

{% block catalogo %}


<h2>no sale :C</h2>
<!--empieza el for-->
{% for p in prod %}  
 
 <div class="bg-light">ID {{ p.id }} {{ p.nombre }} {{ p.stock }} {{ p.foto }} 
    <img src="{{emp.emp_image.url}}" alt="Smiley face" width="250" height="250">
 </div>  
{% endfor %}
<!--Termina el for-->
<h3 class="bg-light">aaa</h3>

<div class="row container-fluid">
   <div class="col-sm-4">
     <div class="card">
      <img src="{% static 'img/car1.jpeg' %}" width="150" height="200 px" class="" style="display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;" alt="img">
       <div class="card-body">
         <h5 class="card-title" style="text-align: center;">Nombre del Producto</h5>
         <p class="card-text">Texto que describe al producto</p>
         <a href="#" class="btn btn-info">Ver Producto</a>
         <a href="#" class="btn btn-primary " style="float: right;">Agregar al carro</a>
       </div>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Special title treatment</h5>
         <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         <a href="#" class="btn btn-primary">Go somewhere</a>
       </div>
     </div>
   </div>
 </div>
{% endblock %}